<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      <% include ../static/partials/messages.ejs %>

      <h2>Wikis</h2>

      <% if (currentUser) { %>
           <a href="/wikis/new" class="btn btn-success">New Wiki</a>
      <% } %>


      <% if (currentUser && currentUser.isStandard()) { %>
        <hr>
        <h6>Public Wikis:</h6>

         <% wikis.forEach((wiki) => { %>
           <% if(wiki.isPublic()) { %>
             <ul class="list-group">
              <li>
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              </li>
              </ul>
           <% } %>
         <% }); %>

      <% } else if (currentUser.isPremium()|| currentUser.isAdmin()) { %>

        <% wikis.forEach((wiki) => { %>
        <%  if(wiki.isPublic()) { %>


          <ul class="list-group">
            <li>
              <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
            </li>
          </ul>

        <%  } else if (wiki.isPrivate()) { %>


          <ul class="list-group">
            <li>
              <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a><span>Private</span>
            </li>
          </ul>
           <% } %>
          <% }); %>
      <% } %>



   </main>
  <% include ../static/partials/baseScripts.ejs %>
  </body>
  </html>
