<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      <% include ../static/partials/messages.ejs %>

      <br>
      <img style="height:20rem;" src="/../images/collaboration-1.jpg" alt="A number of words on ideas">
      <br>
      <div>
        <% if (currentUser) { %>
             <a href="/wikis/new" class="btn btn-success">Start creating a new Wiki</a>
        <% } %>
      </div>


    <div>
      <br>
        <h6 style="font-style:italic; font-weight:bold;">Public Wikis:</h6>
        <ul class="list-group">

        <% wikis.forEach((wiki) => { %>
          <% if(wiki.isPublic()) { %>
              <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              </li>
          <% } %>
        <% }); %>
        </ul>
    </div>
    <div>
      <% if(currentUser) { %>
        <br>
        <h6 style="font-style:italic; font-weight:bold;">Private Wikis:</h6>
        <% if(currentUser.isStandard()) { %>
          <p><strong>Upgrade to Premium to create private wikis!</strong></p>
        <% } %>
        <ul class="list-group">
          <% wikis.forEach((wiki) => { %>
            <% if(wiki.isPrivate()) { %>
              <% if (currentUser.isPremium() || currentUser.isAdmin()) {  %>
                  <li class="list-group-item">
                    <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
                  </li>
              <% } %>
            <% } %>
          <% }); %>
        </ul>
      </div>
      <div>
        <br>
        <h6>Private Wikis that I collaborated on: </h6>
        <ul class="list-group">
           <% wikis.forEach((wiki) => { %>
             <% wiki.collaborators.forEach((collaborator) => { %>
               <% if(collaborator.userId == currentUser.id) { %>
                 <li class="list-group-item">
                   <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
                 </li>
               <% } %>
             <% }) %>
           <% }) %>
        </ul>
        </div>
      <% } %>
   </main>
  <% include ../static/partials/baseScripts.ejs %>
  </body>
  </html>
